<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/aboutus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css">

</head>
<div class="page-container">
    <div class="header">
        <div class="logo-item"> <a href="homepage.html"><img src="images/logo.png" alt=""></a></div>

        <div class="nav-items">
            <div class="language-selector">
                <i class="fas fa-globe"></i>
                <select id="language-select">
                    <option value="en">English</option>
                    <option value="tr">Türkçe</option>
                </select>
            </div>
            <div class="nav-link"> <a href="/" data-en="Home" data-tr="Ana Sayfa">Home</a></div>
            <div class="nav-link"> <a href="/about" data-en="About Us" data-tr="Hakkımızda">About Us</a>
            </div>
            <div class="nav-link"> <a href="/solutions" data-en="Solutions" data-tr="Çözümler">Solutions </a>
            </div>
            <div class="nav-link"> <a href="/contact" data-en="Contact Us" data-tr="İletişim">Contact Us</a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="toggleNavItems()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>

<div class="content-wrap">

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, sunt possimus fuga optio vitae nihil dolorum
        dolorem suscipit earum. Iusto autem doloribus praesentium temporibus deserunt beatae ullam exercitationem
        fuga facere.
        Autem, ab fuga quae aperiam aliquid commodi corrupti minima quibusdam voluptates id quis expedita doloremque
        voluptate ut amet reprehenderit quam deserunt sed repudiandae molestias inventore quod voluptatem
        consequatur. Recusandae, odit!
        Excepturi, repellendus earum dolor laboriosam sint harum ipsum sequi rerum, dolores, eum placeat aperiam!
        Quos, unde ut blanditiis eveniet corrupti sapiente reiciendis non totam! Doloremque quam cupiditate odit
        eveniet neque?


</div>

<div class="footer">
    <div class="footer-links">
        <div class="footer-link">Articles</div>
        <div class="footer-link">Link Two</div>
        <div class="footer-link">Link Three</div>
        <div class="footer-link"><a href="contactus.html">Contact</a></div>
    </div>
    <div class="footer-divider"></div>
    <!-- This is the horizontal line -->
    <div class="footer-legal">
        <div class="legal-text">@ 2024 Nurturing Environmental Awareness </div>
    </div>
</div>

<script src="index.js"></script>
</body>

</html>