<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurturing Environmental Awareness</title>
    <link rel="stylesheet" href="/css/homestyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css">

</head>

<body>
    <div data-aos="fade-">
        <div class="header">
            <div class="logo-item"> <a href="homepage.html"><img src="/images/logo.png" alt=""></a></div>
            <div class="nav-items">
                <div class="language-selector">
                    <i class="fas fa-globe"></i>
                    <select id="language-select">
                        <option value="en">English</option>
                        <option value="tr">Türkçe</option>
                    </select>
                </div>
                <div class="nav-link"> <a href="/" data-en="Home" data-tr="Ana Sayfa">Home</a></div>
                <div class="nav-link"> <a href="/about" data-en="About Us" data-tr="Hakkımızda">About Us</a>
                </div>
                <div class="nav-link"> <a href="/solutions" data-en="Solutions" data-tr="Çözümler">Solutions </a>
                </div>
                <div class="nav-link"> <a href="/contact" data-en="Contact Us" data-tr="İletişim">Contact Us</a>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="toggleNavItems()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div>

        <div class="main-content">
            <div class="main-content-block">
                <div class="quote"
                    data-en="Be a guardian of the Earth every small act of conservation ripples into a wave of positive change."
                    data-tr="Dünyanın koruyucusu olun, koruma eylemleri olumlu değişikliklere yol açar.">“Be a guardian
                    of
                    the Earth every small act of conservation ripples into a wave of positive change.”</div>
                <div class="description" data-en="Cultivating a community committed to fostering environmental awareness, where every
                individual's actions become seeds for a greener future, sowing the promise of sustainability for
                generations to come." data-tr="   Çevre bilincini geliştirmeye kararlı bir topluluk yetiştirmek;
                Bireyin eylemleri daha yeşil bir geleceğin tohumları haline geliyor ve sürdürülebilirlik vaadini ekiyor.
                gelecek nesiller.">Cultivating a community committed to fostering environmental awareness, where every
                    individual's actions become seeds for a greener future, sowing the promise of sustainability for
                    generations to come.</div>
            </div>
            <!-- <img src="images/pic5.jpg" alt="Environmental Image" style="width: 650px; height: 510px; border-radius: 8px;"> -->
        </div>

        <div class="title-content">
            <div class="solutions-header" data-en="What environmental solutions does this project offer?"
                data-tr="Bu proje hangi çevresel çözümleri sunuyor?">What environmental solutions does this project
                offer?
            </div>
            <div class="solution-item"
                data-en="Seeding Change, Growing Awareness: Cultivating a Greener World Together."
                data-tr="Değişimi Tohumlamak, Farkındalığı Artırmak: Birlikte Daha Yeşil Bir Dünya Oluşturmak.">Seeding
                Change, Growing Awareness: Cultivating a Greener World Together.</div>
        </div>

        <div class="body-content">
            <!-- Waste Management & Plastic Recycling -->
            <div class="content-block">
                <img src="/images/pic4.jpg" alt="Waste Management Image" style="height: 420px;">
                <div class="solution-item-title" data-en="Management & Plastic Recycling"
                    data-tr="Atık Yönetimi ve Plastik Geri Dönüşümü">Waste
                    Management & Plastic Recycling</div>
                <div class="solution-item-text" data-en="Embracing the challenge of waste, we've developed a
            comprehensive waste
            management and plastic recycling initiative. Our mission is to minimize environmental impact by
            providing phenomenal solutions. Through state-of-the-art recycling processes, we transform plastic waste
            into valuable resources, contributing to a sustainable, circular economy." data-tr="Atık sorununu benimseyerek,
            kapsamlı atık
            yönetimi ve plastik geri dönüşüm girişimi. Misyonumuz çevresel etkiyi en aza indirmektir.
            olağanüstü çözümler sunuyor. Plastik atıkları son teknoloji geri dönüşüm süreçleriyle dönüştürüyoruz
            Değerli kaynakları dönüştürerek sürdürülebilir, döngüsel bir ekonomiye katkıda bulunuyoruz.">Embracing the
                    challenge of waste, we've developed a
                    comprehensive waste
                    management and plastic recycling initiative. Our mission is to minimize environmental impact by
                    providing phenomenal solutions. Through state-of-the-art recycling processes, we transform plastic
                    waste
                    into valuable resources, contributing to a sustainable, circular economy.</div>
            </div>
            <!-- Clean Energy -->
            <div class="content-block">
                <img src="/images/pic1.jpg" alt="Clean Energy Image" style="height: 420px;">
                <div class="solution-item-title" data-en="Clean Energy" data-tr="Temiz enerji">Clean Energy</div>
                <div class="solution-item-text" data-en="Powering Tomorrow, Sustainably Today: Our Clean Energy
            Commitment. We
            harness the potential of renewable sources to generate clean energy, reducing carbon footprints and
            fostering a greener future. we're dedicated to providing sustainable energy information to ensure
            preserving our planet for generations to come." data-tr="Yarına, Sürdürülebilir Bir Şekilde, Bugünden Güç Veriyoruz: Temiz Enerjimiz
            Bağlılık. Biz
            Temiz enerji üretmek, karbon ayak izini azaltmak ve yenilenebilir kaynakların potansiyelinden yararlanmak
            Daha yeşil bir geleceği teşvik ediyoruz. Sürdürülebilir enerji bilgileri sağlamaya kararlıyız
            gelecek nesiller için gezegenimizi koruyoruz.">Powering Tomorrow, Sustainably Today: Our Clean Energy
                    Commitment. We
                    harness the potential of renewable sources to generate clean energy, reducing carbon footprints and
                    fostering a greener future. we're dedicated to providing sustainable energy information to ensure
                    preserving our planet for generations to come.</div>
            </div>
            <!-- Access to Water & Sanitation -->
            <div class="content-block">
                <img src="/images/pic3.jpg" alt="Water Sanitation Image" style="height: 420px;">
                <div class="solution-item-title" data-en="Access to Water & Sanitation"
                    data-tr="Suya ve Sanitasyona Erişim">Access to Water & Sanitation</div>
                <div class="solution-item-text" data-en="Basic sanitation is characterized by the availability
            of facilities for the
            secure disposal of human waste (including feces and urine) and the capacity to uphold hygienic
            conditions. This encompasses services like waste collection, management of industrial and hazardous
            waste, as well as treatment and disposal of wastewater." data-tr="Temel sanitasyon, kullanılabilirlik ile karakterize edilir
            için tesislerin
            İnsan atıklarının (dışkı ve idrar dahil) güvenli bir şekilde bertaraf edilmesi ve hijyeni koruma kapasitesi
            koşullar. Bu, atık toplama, endüstriyel ve tehlikeli atıkların yönetimi gibi hizmetleri kapsar.
            atıkların yanı sıra atık suların arıtılması ve bertarafı.">Basic sanitation is characterized by the
                    availability
                    of facilities for the
                    secure disposal of human waste (including feces and urine) and the capacity to uphold hygienic
                    conditions. This encompasses services like waste collection, management of industrial and hazardous
                    waste, as well as treatment and disposal of wastewater.</div>
            </div>
            <!-- Biodiversity & Afforestation -->
            <div class="content-block">
                <img src="/images/pic2.jpg" alt="Biodiversity Image" style="height: 420px;">
                <div class="solution-item-title" data-en="Biodiversity & Afforestation"
                    data-tr="Biyoçeşitlilik ve Ağaçlandırma">Biodiversity & Afforestation</div>
                <div class="solution-item-text" data-en="As ecosystems and habitats deteriorate and vanish on a
            global scale, the
            interconnectedness of all life forms, known as biodiversity, faces a threat. Delve into an exploration
            of the true significance of biodiversity and the necessary measures required to safeguard life on Earth,
            especially in the context of a new international agreement aimed at protecting our lands, oceans, and
            waters." data-tr="Ekosistemler ve habitatlar bozulup yok olurken
            Küresel ölçekte,
            Biyoçeşitlilik olarak bilinen tüm yaşam formlarının birbirine bağlılığı tehdit altındadır. Keşif gezisine çıkın
            Biyoçeşitliliğin gerçek önemi ve Dünya üzerindeki yaşamı korumak için alınması gereken önlemler,
            özellikle topraklarımızı, okyanuslarımızı ve denizlerimizi korumayı amaçlayan yeni bir uluslararası anlaşma bağlamında
            sular.">As ecosystems and habitats deteriorate and vanish on a
                    global scale, the
                    interconnectedness of all life forms, known as biodiversity, faces a threat. Delve into an
                    exploration
                    of the true significance of biodiversity and the necessary measures required to safeguard life on
                    Earth,
                    especially in the context of a new international agreement aimed at protecting our lands, oceans,
                    and
                    waters.</div>
            </div>
        </div>


        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/3R6Y_0x0SOg?si=aiyBzBIDa6buLsDG" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>


        <div id="map"></div>

        <div class="footer">
            <div class="footer-img"><img src="/images/logo.png" alt=""></div>
            <div class="footer-links">
                <div class="footer-link">Articles</div>
                <div class="footer-link">Link Two</div>
                <div class="footer-link">Link Three</div>
                <div class="footer-link"><a href="/contact">Contact</a></div>
            </div>
            <div class="footer-divider"></div>
            <!-- This is the horizontal line -->
            <div class="footer-legal">
                <div class="legal-text">@ 2024 Nurturing Environmental Awareness </div>
            </div>
        </div>
    </div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD86UbcC8SSftj2C-Z6kO1MwYX-bjt9jR4&callback=initMap">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>